@media(min-width: 320px) and (max-width: 428px) {
    .action {
  
    width: 428px;
    height: 432px;
    flex-shrink: 0;
    margin: 0;
    
   
    }
    .title {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        width: 320px;
        max-width: 320px;

    }

    .container{
        margin: 16px;
        padding: 0%;
        margin-bottom: 96px;
        margin-top: 96px;
        height: auto;
    }

    .values {
        padding: 0;
    }


    .icon-container {
        display: none;
    }

    .list {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .values .values-menu {
        width: 100%;
    }

    .values .list-text {
        align-self: stretch;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: var(--slate-color); 
        font-weight: 500;
        width: 100%;
        text-align: justify;
    }

    .values .item-title {
        text-align: center;
        color: var(--navy-blue-color);
        font-weight: 700;
        line-height: 40px;
        font-size: 36px;
        letter-spacing: 0.72px;
        text-transform: capitalize;

    }

    .values .list {
        gap: 72px;
    }

    .directions {
        display: none;
    }

    .people {
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding: 0;
    }

    .people .list {
        gap: 72px 0;
        align-content: space-around;
    }

    .customers {
        padding: 0;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        row-gap: 72px;

    }
    .customer-item {
        width: calc((100% - 16px) / 2);
    }

    .footer {
    height: 664px;
    padding-top: 72px;
    padding-bottom: 96px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        gap: 72px;
    }
    .footer-social {
        justify-content: center;
    }

    .footer-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .social-media {
        text-align: center;
    }

    .footer-left {
        margin: 0;
        

    }

    .footer .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
            
            
    }

    .footer-button-styling {
        display: block;
        text-align: center;
    }

    .footer-subscribe {
        margin-left: 0;
        width: 100%;
        display: block;
        text-align: center;
    }

    .footer .logo {
        text-align: center;
        display: block;
    }

    .subscribe-button {
        display: inline-flex;
        margin-top: 16px;
    }

    .footer-e-mail {
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--white, #FFF);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

}


