@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .menu-toggle {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

       
}

@media(min-width: 320px) and (max-width: 428px) {

        .menu {
            display: none;
        }
        
        .menu .link {
        padding: 10px;
        color: inherit;
        text-decoration: none;
        }
        
        .menu .link:hover,
        .menu .link:focus {
        text-decoration: underline;
        }
        
        .menu-toggle {
            min-height: 40px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            outline: none;
        }

        .header .container {
            margin: 0;
            height: 70px;
            width: 100%;
            flex-direction: row-reverse;
        }
    
        .header .nav-list {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            
        }

        .mobile-nav {
            padding-left: 40px;
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            
        }
        
        .mobile-contacts {
            padding-left: 40px;
        }
        .header .info-class {
            display: none;
        }

        .contact-link {
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 
            letter-spacing: 0.4px;
        }

        .team-icons {
            width: 24px;
            height: 24px;
        }

        .social-icons-list {
            gap: 54px;
            padding-top: 48px;
            padding-bottom: 40px;
        }

        .social-link:hover,
        .social-link:focus {
            background-color: var(--green-color);
}

        .contact-tell {
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
        }

        .menu-hamburger {
            stroke: currentColor;
            fill: currentColor;
        }


        .action {
            flex-direction: column;
            width: 100%;
            height: auto;
            flex-shrink: 0;
            padding: 0;
        
        
        }

    .action .container {
        margin: 0;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .action .order-service {
        margin-top: 72px;
    }

    .title {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        width: 320px;
        max-width: 320px;
        

    }

    .container{
        max-width: 428px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 96px;
        margin-top: 96px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .values {
        padding: 0;
    }


    .icon-container {
        display: none;
    }

    .list {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .values .values-menu {
        width: 100%;
    }

    .values .list-text {
        align-self: stretch;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: var(--slate-color); 
        font-weight: 500;
        width: 100%;
        text-align: justify;
    }

    .values .item-title {
        text-align: center;
        color: var(--navy-blue-color);
        font-weight: 700;
        line-height: 40px;
        font-size: 36px;
        letter-spacing: 0.72px;
        text-transform: capitalize;

    }

    .values .list {
        gap: 72px;
    }

    .directions {
        display: none;
    }

    .people {
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding: 0;
    }

    .people .list {
        gap: 72px 0;
        align-content: space-around;
    }

    .customers {
        padding: 0;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        row-gap: 72px;

    }
    .customer-item {
        width: calc((100% - 16px) / 2);
    }

    .footer {
    height: 664px;
    padding-top: 72px;
    padding-bottom: 96px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        gap: 72px;
    }
    .footer-social {
        justify-content: center;
    }

    .footer-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .social-media {
        text-align: center;
    }

    .footer-left {
        margin: 0;
        

    }

    .footer .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
            
            
    }

    .footer-button-styling {
        display: block;
        text-align: center;
    }

    .footer-subscribe {
        margin-left: 0;
        width: 100%;
        display: block;
        text-align: center;
    }

    .footer .logo {
        text-align: center;
        display: block;
    }

    .subscribe-button {
        display: inline-flex;
        margin-top: 16px;
    }

    .footer-e-mail {
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--white, #FFF);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    .menu-toggle:hover,
    .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
    }
    
    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background-color: var(--white-color);
        z-index: 999;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }
    
    .menu-container.is-open {
        transform: translateX(0);
    }
    
    .menu-container .menu-toggle {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #fff;
    }
    
    .mobile-menu {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .mobile-menu .link {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }
}


