.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-email-black-18dp {
  width: 24px;
  height: 32px;
  background-position: 0 0;
}
.icon-frame {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-icons {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-phone-black-18dp {
  width: 24px;
  height: 32px;
  background-position: -144px 0;
}

